:root {
   font-size: 16px;
   --light-gray: #f6f6f6;
   --scrollbar-color: #cecece;
   --sidebar-width: max(19vw, 200px);
}

html {
   height: 100%;
   scrollbar-color: var(--scrollbar-color) transparent;
}

body {
   margin: 0;
}

#sidebar {
   background-color: var(--light-gray);
   width: var(--sidebar-width);
   box-sizing: border-box;
   padding-left: 20px;
   overflow: auto;
   position: sticky;
   top: 0;
   height: 100vh;
   display: inline-block;
   vertical-align: top;
   scrollbar-color: var(--scrollbar-color) var(--light-gray);
}

.page-header {
   margin-top: 10px;
}

.personal-project-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.add-icon-button {
   margin-right: max(2vw, 15px);
   border: none;
   width: fit-content;
   padding: 0;
   background: none;
   cursor: pointer;
}

.add-icon {
   height: 25px;
   flex: 1;
   fill: #06b6d4;
}

.project-list {
   padding: 0;
   margin: 0;
}

li {
   list-style: none;
}

.project-item {
   line-height: 1.6;
   margin-right: 10px;
   cursor: pointer;
   margin-left: -10px;
   border-radius: 10px;
   display: grid;
   grid-template-rows: 1fr 1fr;
   grid-template-columns: 1fr 1fr;
   grid-template-areas: "name btn"
                        "date btn";
}

.project-item:hover {
   background-color: #c6fa88;
}

#sidebar .project-name {
   margin: 0;
   padding-left: 10px;
   grid-area: name;
   text-wrap: nowrap;
}

#sidebar .project-due-date {
   margin-top: 0;
   margin-bottom: 0;
   font-size: 0.9rem;
   padding-left: 10px;
   grid-area: date;
}

.sidebar-delete-btn {
   padding: 4px 0 0 0;
   border: none;
   background-color: transparent;
   cursor: pointer;
   grid-area: btn;
   align-self: start;
   justify-self: end;
   margin-right: max(1.6vw, 15px);
}

img[src$=".svg"]:hover {
   filter: invert(22%) sepia(95%) saturate(4744%) hue-rotate(353deg) brightness(91%) contrast(128%);
}

#content {
   height: fit-content;
   display: inline-block;
   min-height: 100vh;
   width: calc(98.5vw - var(--sidebar-width));
   min-width: 500px;
}

#create-project {
   line-height: 1.6;
}

.name-container,
.project-header {
   margin: 10px 0 0 20px;
}

input,
#description {
   font-size: 1rem;
   border: 0.5px solid black;
   font-family: Arial;
}

#project-name,
.project-header > .project-name {
   font-size: 2rem;
}

#project-name,
#due-date {
   padding: 0;
   border: none;
}

.due-date-container {
   margin-left: 20px;
}

form .description-container {
   margin: 50px 0 0 20px;
}

label[for="description"],
.description-header {
   display: block;
   border-bottom: 1.5px solid springgreen
}

#description {
   display: block;
   line-height: 1.4;
   padding: 0;
   min-width: 160px;
   width: calc(calc(98.5vw - var(--sidebar-width)) - 50px);
}

fieldset {
   border: none;
   margin: 50px 0 0 20px;
   padding: 0;
}

.checklist-fieldset,
.notes-fieldset {
   display: flex;
   flex-direction: column;
   row-gap: 20px;
}

legend,
label[for="description"],
#content .description-header,
#content .checklist-header,
#content .note-header {
   font-size: 1.5rem;
   margin-bottom: 15px;
   width: -webkit-fill-available;
   margin-right: 30px;
}

#checklist,
.checklist-header {
   border-bottom: 1.5px solid coral;
}

#notes,
.note-header {
   border-bottom: 1.5px solid #0ea5e9;
}

form .checklist-container,
form .note-container {
   display: flex;
}

.checklist-fieldset input,
.notes-fieldset input {
   width: 25vw;
   min-width: 200px;
   padding: 3px 3px;
   margin-right: 30px;
}

.list-delete-btn {
   background-color: white;
   border: none;
   padding: 0;
}

#content img[src$=".svg"] {
   cursor: pointer;
}

.add-list-item-container {
   display: flex;
   align-items: center;
}

.add-checklist-button,
.add-note-button {
   height: 25px;
   width: 25px;
   background-image: url(icons/plus.svg);
   background-repeat: no-repeat;
   background-color: transparent;
   border: none;
   padding: 0;
   margin: 10px 0 0 16px;
   cursor: pointer;
}

.add-checklist-item-text {
   display: inline-block;
   margin-top: 10px;
   margin-left: 5px;
}

.priority-fieldset > label {
   margin-right: 15px;
   font-size: 1.1rem;
}

#priority {
   border-bottom: 1.5px solid magenta;
}

input[type="radio"] {
   cursor: pointer;
}

.align-submit-btn {
   display: flex;
   justify-content: flex-end;
}

button[type="submit"] {
   font-size: 1.1rem;
   background-color: #c8fffb;
   margin: 40px 90px 40px 0;
   border-radius: 20px;
   padding: 5px 12px;
   cursor: pointer;
   border-style: none;
   font-family: fantasy;
}

input[type="tel"]:focus:invalid {
   outline-color: red;
   background-color: rgb(255 209 209);
}

input[type="tel"]:focus:valid {
   outline-color: green;
   background-color: rgb(199 255 199);
}

input[type="tel"]:valid:not(:focus) {
   background-color: rgb(199 255 199);
}

input[type="tel"]:invalid:not(:focus) {
   background-color: rgb(255 209 209);
}

.project-name {
   font-weight: normal;
   margin: 0 0 4px 0;
}

#content h2,
#content p {
   margin: 0;
}

#content > .description-container,
#content > .checklist-container,
#content > .note-container {
   margin: 59px 0 0 20px;
}

.description-header,
.checklist-header,
.note-header {
   font-weight: normal;
   padding-bottom: 6px;
}

#content > .description-container > p.description-text {
   padding-top: 2.5px;
   padding-left: 0.5px;
   margin-right: 30px;
   line-height: 1.5;
}

.list {
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   row-gap: 10px;
}

.checklist-item,
.note-item {
   font-size: 1rem;
}

.list input[type="checkbox"] {
   margin-right: 10px;
}

input[type="checkbox"] {
   cursor: pointer;
}

#content > .note-container {
   margin-bottom: 40px;
}

#content .note-container li {
   list-style: decimal;
   list-style-position: inside;
}

.priority {
   color: rgb(238, 37, 37);
}

#content > .project-header > p.priority::after {
   content: " ";
   background-image: url(./icons/clock-alert-outline.svg);
   height: 25px;
}

.clock {
   filter: invert(22%) sepia(95%) saturate(4744%) hue-rotate(353deg) brightness(91%) contrast(128%);
   vertical-align: text-top;
   height: 16px;
   padding-left: 5px;
}

form #project-name,
form #due-date,
form [for="due-date"],
form [for="description"],
legend,
#content .project-name,
#content .project-due-date,
#content .description-header,
.checklist-header,
.note-header {
   font-family: Georgia;
}

textarea,
.checklist-container > input,
.note-container > input,
.priority-fieldset label,
#content .description-text,
.list,
.note-item {
   font-family: Arial;
}